body {
  margin: 0px;
  font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

a {
  text-decoration: none;
}

.topbar {
  z-index: 3;
  position: absolute;
  width: 100%;
  height: 70px;
  top: 0px;
  background-color: #888;
  background-color: #234059;
  box-shadow: 0px 0px 10px #000;
  text-align: center;
}

.topbar .logo {
  height: 20px;
  margin-top: 25px;
}

.topbar .menu {
  position: absolute;
  top: 15px;
  right: 30px;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.topbar .menu li {
  color: #ccc;
  cursor: pointer;
  height: 35px;
  padding: 0px 15px;
  border: 2px solid #ccc;
  border-radius: 2px;
}

.topbar .menu li:hover {
  color: #fff;
  border: 2px solid #fff;
}

.topbar .menu li span {
  font-size: 12px;
  font-weight: bold;
  line-height: 35px;
}

.sidebar {
  z-index: 2;
  position: fixed;
  width: 340px;
  height: 100%;
  top: 70px;
  left: 0px;
  background-color: #444;
  box-shadow: 0px 0px 10px #000;
}

.sidebar .items {
  position: absolute;
  width: 100%;
  top: 0px;
  bottom: 70px;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.sidebar .items li {
  height: 70px;
  border-bottom: 1px solid #888;
}

.sidebar .items li span {
  cursor: pointer;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  display: block;
  line-height: 70px;
  padding: 0px 20px;
  background-color: #ddd;
}

.sidebar .items li span:hover {
  background-color: #ccc;
}

.sidebar .footer {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 70px;
  border-top: 1px solid #888;
}

.sidebar .footer .button {
  cursor: pointer;
  float: left;
  width: 113px;
  height: 100%;
  border-left: 1px solid #888;
  background-color: #5a5a5a;
}

.sidebar .footer .button:first-child {
  width: 112px;
  border-left: none;
}

.sidebar .footer .button:hover {
  background-color: #666;
}

.container {
  z-index: 1;
  position: absolute;
  top: 70px;
  bottom: 0px;
  left: 340px;
  right: 0px;
}

.container .bill {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #a4a4a4;
  background-color: #ccc;
  overflow: hidden;
}

.container .active {
  border-top: 10px solid #aaa;
  border-bottom: 10px solid #aaa;
}

.container .bill:hover {
  background-color: #cfcfcf;
}

.container .bill .items {
  float: left;
  padding: 20px;
}

.container .bill .items .item {
  cursor: pointer;
  font-size: 12px;
  padding: 10px;
  margin: 2px;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 1px 1px 1px #555;
}

.container .bill .items .item:hover {
  background-color: #eee;
}

.container .bill .items .item .number {
  color: red;
  margin-right: 5px;
}

.container .bill .items .item .price {
  color: #52799e;
  font-weight: bold;
  margin-left: 5px;
}

.container .bill .sum {
  float: right;
  width: 150px;
  height: 46px;
  padding: 20px 30px 0px 0px;
  text-align: right;
}

.container .bill .sum span {
  font-size: 20px;
  font-weight: bold;
}